body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background: url('./image/header.jpg');
  height:550px;
  background-repeat: no-repeat;
  background-size: cover;
}
header nav{
  background: transparent;
  box-shadow: none;
}
.chat-btn{
  position: absolute;
  right: 20px;
  bottom: 55px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.b_title{
  color: #575757;
}
.blog_des{
  color: #909090;
}
footer{
  background-color: #212121 !important;
}